* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: white;
  background-color: #1c1c1c;
}

header {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s;
}

nav ul li a:hover,
.active {
  color: #f4b400;
}

nav ul li a.active {
  color: #f4b400;
  border-bottom: 2px solid #f4b400;
}

.hero {
  background-image: url("images/croassant1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 40px;
}

.cta-button {
  padding: 15px 30px;
  font-size: 16px;
  color: #1c1c1c;
  background-color: #f4b400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #d39200;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

footer p {
  margin: 0;
  font-size: 14px;
}
